.container {
  margin: 0 auto;
  width: 100%;
}

.change-quantity div {
  display: inline-block;
  text-align: center;
}

.change-quantity .value-button {
  width: 33%;
}

.change-quantity .quantity-value {
  width: 33%;
}

.discount,
.total-price {
  text-align: right;
}

.search-container {
  margin-bottom: 32px;
}

.search-block {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 774px;
}

.sku-search-bar {
  width: 100%;
  height: 41px;
  background-color: #e6ecf0;
  border-color: transparent;
  border-radius: 20px;
  padding: 9px 35px;
}

.sku-search-bar:focus {
  outline: none;
}

.results-container {
  position: absolute;
  width: 100%;
  max-height: 450px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 3px 6px 0px #d8d8d8;
  overflow: auto;
  z-index: 1;
}

.search-result {
  display: table;
  padding: 9px 35px;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #e6ecf0;
}

.search-result > div {
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

.search-result .sku {
  margin-right: 35px;
}

.search-result .information{
  width: 70%;
}

.search-result .information .remain{
  font-size: 12px;
  font-weight: 300;
}

.table thead th {
  border: none;
  background-color: #f5f8fa;
}

.invoice-container {
  width: 100%;
  height: 425px;
  overflow-y: auto;
}

.invoice-container thead th {
  position: sticky;
  top: 0;
  font-weight: 700;
}

.invoice-container tbody td {
  font-weight: 300;
}

.invoice-container .table {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}

.total-money {
  display: block;
  overflow: auto;
  margin-bottom: 50px;
}

.total-money .total-money-table {
  float: right;
  font-size: 18px;
}

.total-money .total-money-table .left-column {
  text-align: left;
  font-weight: 400;
}

.total-money .total-money-table .right-column {
  width: 80px;
  text-align: right;
}

.btn {
  float: right;
  border-radius: 20px;
  font-weight: 700;
  letter-spacing: 1.5px;
  padding: 9px 35px;
  margin-right: 10px;
  border: none;
}

.btn.btn-primary.btn-confirm {
  background-color: #1da1f2;
}

.btn.btn-primary.btn-cancel {
  background-color: #aab8c2;
}
